/** linkcolumn按钮样式 */
.btn-mini {
    display: inline-block;
    *display: inline;
    padding: 0 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #333333 !important;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-decoration: none;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-mini:hover {
    color: #333333;
    text-decoration: none;
    background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.x-html-editor-input {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

/* kendo editor */
iframe.k-content {
    height: 500px !important;
}

table.k-editor {
    border-width: 0px;
    border-spacing: 0px;
    background-color: white;
}

div#kendoeditor-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

div#service_list-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

div#schedule-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

div#seat_position-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

div#hotel_condition-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

div#trip_recommend-bodyEl div.x-form-trigger-wrap-default {
    border-width: 0px;
}

/* fieldset */
.x-fieldset {
    background: white;
}

.k-editor .k-add-photo
{
    background: 50% 50% no-repeat url(/images/icons/add-photo-icon.png);
}

