html, body {
    font-size: 1em;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #333;
}

.header-menu {
    font-size: 16px;
    font-weight: 700;
    padding: 0em 1em;
}

.breadcrumb {
    background-color: white;
}

textarea, #editor {
    margin: 0;
    height: 100%;
}

a.ng-binding, a.ng-scope {
    color: #555;
    text-decoration: none;
}

.ng-scope a:hover {
    color: #84b76d;
}

img {
    max-width: 100%;
}

div.ng-blog p, div.ng-blog-preview p {
    margin-bottom: 1em;
    line-height: 1.8;
}

div.ng-blog-preview {
    padding: 0 1em;
}

pre {
    padding: 0;
    border: none;
    font-size: inherit;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0em;
}

strong {
    color: #00b050;
}

code {
    color: #f66;
}

#textarea {
    display: block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    float: left;
}

#textarea-wrap textarea {
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    overflow-y: visible;
}

textarea:focus {
    box-shadow: none;
    border-right: 1px solid #eee;
}

#textarea-wrap {
    border-right: 1px solid #eee;
    border-top: 1px solid transparent;
    position: absolute;
    top: 2em;
    bottom: 0em;
    padding: 1em;
    right: 50%;
    left: 0em;
}

.blog-toolbar {
    text-align: left;
    padding-left: 1em;
    border-bottom: 1px solid #eee;
    position: absolute;
    width: 65%;
    left: 35%;
    background-color: #fff;
    z-index: 1;
}

.edit-toolbar {
    text-align: center;
    position: absolute;
    top: 0em;
    height: 2em;
    width: 100%;
    border-bottom: 1px solid #eee;
}

#contents {
    float: left;
    width: 35%;
    height: 100%;
}

#contents-list {
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: auto;
}

.blog-item {
    cursor: pointer;
    padding: 0.2em 1em;
    line-height: 1.8em;
    margin: 0em;
    border-bottom: 1px solid #eee;
}

p.saving {
    background-color: #FFD2D2;
}

.blog-item:hover {
    background-color: #EEE;
}

#blog {
    display: none;
}

#editor {
    display: none;
    float: left;
    width: 100%;
    height: 100%;
}

.blog-preview {
    overflow: auto;
    float: left;
    position: absolute;
    top: 2em;
    bottom: 0em;
    right: 0em;
    left: 35%;
}

.edit-preview {
    width: 50%;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 2em;
    bottom: 0em;
}

.ng-tag {
    margin: 1em;
}

span.ng-binding {
    cursor: pointer;
    background-color: #f4f4fa;
    margin: 0em 0.3em 0.4em 0em;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    color: #808393;
}

span.ng-binding:hover {
    background-color: #efeff3;
}

.ng-tag span.tagged {
    background-color: #259;
    color: white;
}

input.search {
    width: 10em;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4em;
    height: 1.7em;
    border-radius: 1em;
}

.blog-content {
    max-width: 50em;
    padding: 0 1em;
}

.ng-blog-content {
    margin: 1em;
}

.ng-blog {
    margin: 1em;
    -webkit-column-gap: 2em;
}

span.nav-list-selected {
    background-color: orange;
    padding: 28px 1em 25px 1em;
}

a.hover {
    background-color: orange;
    padding: 10px 1em;
}