@charset "utf-8";
body {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	font-family: "微软雅黑", "宋体","Arial";
	font-size: 12px;
	color: #000;
	background-color: #FFF;
	height: 100%;
	width: 100%;
	overflow: visible;
}
table {
	border-collapse:collapse;
}
td {
	line-height:28px;
}
.top {
	background-image: url(../images/topbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	width: 100%;
	height: 125px;
}
.leftmenu_head {
	background-image: url(../images/submenu_head.png);
	background-position: left center;
	height: 30px;
	width: 131px;
	background-repeat: no-repeat;
	line-height: 30px;
	boder-right:solid;
	border-right-width: 1px;
	border-right-color: #85b5f5;
	margin-left:10px;
	color: #FFF;
	text-align: left;
	text-indent:30px;

}
.leftmenu {
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    text-align: left;
    text-indent: 10px;
    width: 100%;
}
.btn {
	background-position: left center;
}
.content .tab {
	background-image: url(../images/IJOBS2_27.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 30px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #adb9c2;
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: 15px;
	text-align:left;
}
.content .tab li {
	height: 27px;
	width: 100px;
	font-weight: bold;
	left: 10px;
	background-color: #FFF;
	top: 3px;
	position: relative;
	line-height: 27px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #adb9c2;
	border-right-color: #adb9c2;
	border-left-color: #adb9c2;
	text-align:center;
}
.content {
	background-color: #FFF;
	width: 1270px;
	float: left;
	height: 680px;
	overflow:auto;
	text-align:center;
	position: absolute;
	left: 142px;
	top: 126px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #85b5f5;
}
.leftmenu a {
	color:#0e2f45;
	display: block;
	height: 100%;
	width: 100%;
}
.leftmenu a:link {
	color:#0e2f45;
}
.leftmenu a:visited {
	color:#0e2f45;
}
.leftmenu a:hover, .leftmenu .select {
	color:#0e2f45;
	background-image: url(../images/select_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.leftmenu a:actived {
 color:#0e2f45;
}
.leftmenu dt, .leftmenu dd {
	height:30px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url(../images/submenubg3.png);
}
.leftmenu dd {
	line-height: 29px;
	height:29px;
    white-space:nowrap; 
    overflow:visible;
   
	font-weight: normal;
	text-indent: 35px;
}
.leftmenu_div {
	over-flow:auto;
	background-color: #50b7cf;
	height: 680px;
	min-width:170px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #709dd9;
	float: left;
	text-align: left;
	font-weight: bold;
	color: #0e2f45;
	font-size: 14px;
	clear: none;
	background-image: url(../images/leftbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 125px;
	width: 436px;
	float: left;
}
ol, ul, li {
	list-style: none;
}
img {
	border: 0;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0pt;
	visibility:hidden;
	overflow:hidden;
}
.clear {
	clear:both;
	height:1px;
	margin-top:-1px;
	width:100%;
}
.dis {
	display:block;
}
.undis {
	display:none;
}

.topmenu {
	height: 80px;
	margin-left: 20px;
	float: left;
	margin-top: 30px;
}
.top .right {
	float: right;
	text-align: left;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 280px;
	background-image: url(../images/topbg_right.jpg);
	background-position: right top;
	padding-top: 25px;
	padding-right: 20px;
	background-repeat: no-repeat;
}
.foot {
	background-image: url(../images/foot.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.foot .foot_left {
	background-image: url(../images/foot_left.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 7px;
	width: 13px;

}
.foot .foot_right {
	background-image: url(../images/foot_right.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	height: 7px;
	width: 15px;
}

.top .right li {
	text-align: left;
	line-height: 20px;
}
.top .right li a {
	font-weight:bold;
}
.topmenu li {
	height: 80px;
	width: 92px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	cursor:pointer;
}
.topmenu .user_hover {
	background-image: url(../images/menus.png);
	background-position: -5px -110px;
}
.topmenu .user {
	background-image: url(../images/menus.png);
	background-position: -5px -10px;
}
.topmenu .job_hover {
	background-image: url(../images/menus.png);
	background-position: -105px -110px;	
}
.topmenu .job {
	background-image: url(../images/menus.png);
	background-position: -105px -10px;
}
.topmenu .step_hover {
	background-image: url(../images/menus.png);
	background-position : -205px -110px;
}
.topmenu .step {
	background-image: url(../images/menus.png);
	background-position : -205px -10px;	
}
.topmenu .data_hover {
	background-image: url(../images/menus.png);
	background-position:-305px -110px;	
}
.topmenu .data {
	background-image: url(../images/menus.png);
	background-position : -305px -10px;	
}
.topmenu .set_hover {
	background-image: url(../images/menus.png);
	background-position:-405px -110px;	
}
.topmenu .set {
	background-image: url(../images/menus.png);
	background-position:-405px -10px;	
}
.topmenu .admin_hover {
	background-image: url(../images/menus.png);
	background-position:-505px -110px;	
}
.topmenu .admin {
	background-image: url(../images/menus.png);
	background-position : -505px -11px;	
}
a {
	text-decoration:none;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #F00;
}
a:active {
	color: #000;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑", "宋体","Arial";
}
.inp {
	height: 22px;
	border: 1px solid #c6d1df;
	margin-left: 5px;
}
.btn, .btn_hover {
	color: #FFF;
	background-image: url(../images/btn_hover_42.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 25px;
	width: 70px;
	float: right;
	margin-left: 6px;
	cursor:pointer;
}
.table_head {
	background-image: url(../images/IJOBS2_27.gif);
	background-position: left top;
	height: 30px;
}
.table_head td {
	border:solid #c8c8c8 1px
}
.btn_hover {
	background-image:url(../images/btn_hover_42.png);
}
.width_98 {
	height: 30px;
	width: 98%;
	text-align:right;
	line-height: 60px;
	margin:12px auto;
}
.table_98 {
	width:98%;
	margin:0 auto;
	text-align:left;
	text-indent:10px;
}
.table_98 td {
	border:solid #c8c8c8 1px
}
.table_98_hover {
	background-color:#d8eff6;
	cursor:pointer;
}
.oushu {
	background-color:#e9e8e8;
}
.btn_small, .btn_small_hover {
	color: #000;
	background-image: url(../images/btn_small.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:24px;
	width: 66px;
	line-height:24px;
	float: right;
	margin-left: 5px;
	cursor:pointer;
}
.btn_small_hover {
	background-image:url(../images/btn_big_hover_09.png)
}
.btn_big, .btn_big2 {
	color: #000;
	background-image: url(../images/btn_big.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height:25px;
	width: 97px;
	line-height:25px;
	float: right;
	margin-left: 5px;
	cursor:pointer;
}
.btn_big2 {
	background-image:url(../images/btn_big2.png)
}
#contentTab-body{border:none;}
#contentTab .x-tab-bar-strip-default-top{border:none;height:0}
#contentTab .x-tab-default-active .x-tab-inner{font-weight:bold;}
#contentTab .x-tab-inner{font-size:12px;color:#000;font-weight:normal;line-height:16px;}
